.profile-pic {
  position: relative;
  max-width:130px;
  max-height:130px;
  width: auto;
  height: auto;
  overflow: hidden;
  /* display: inline-block; */
  
  
  /* background-size: cover;  */
  margin: -31px; 
  margin-left:-7px;
  /* border: 6px solid rgba(0, 77, 64, 0.4); */
  border: 6px solid #5d939e;
  border-radius: 50% !important;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

.tracker {
  /* visibility: hidden; */
  position: fixed;
  /* margin-inline-end: auto;  */
  bottom: 0; 
  right: 0;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
  /* padding: 10px; */
}

.icon-btn {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  border-radius: 45px;
  display: inline-block;
  margin: 4px;
}

.github {
  color: black;
}

.linkedin {
  color: #0077b5;
}

.angellist {
  color: grey;
}

.icon-btn:hover {
  transform: scale(1.10);
  color: #FFFFFF;
}

.linkedin:hover {
  background-color: #0077b5;
}

.angellist:hover {
  background-color: grey;
}

.github:hover {
  background-color: black;
}

/* Buttons - Read Me, Contact Us */

.readme {
  position: relative;
  padding: 11px 35px;
  background: #fff;
  color: #00796b;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;    
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.readme:hover{
  color: white;
  background-color: #5d939e;
}

.contactme {
  position: relative;
  padding: 11px 35px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 1.5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.contactme:hover{
  color: white;
  background-color: #5d939e;
}
/* main body */

/* body-color */

body {
  color: #333;
  font-size: 18px;
}

/* body {
  color: black;
  font-size: 18px;
} */

/* main a -- links */

/* a {
  color: #009688;
} */

a {
  color: #004d40;
}

/* main blockqoute */

/* blockquote {
  border-left: 5px solid #795548;
  color: #795548;
  font-size: 125%;
  font-weight: 400;
  margin: 20px 0;
  padding-left: 1.5rem;
} */

blockquote {
  border-left: 5px solid #795548;
  color: #795548;
  font-size: 110%;
  font-weight: 400;
  margin: 20px 0;
  padding-left: 1.5rem;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

.text-center {
  text-align: center;
}

/* main nav */

nav {
  background: white;
  box-shadow: none;
  height: 0;
}

/* nav {
  background: rgb(149, 126, 212);
  box-shadow: none;
  height: 0;
} */

nav i {
  padding: 0 15px;
  position: relative;
  top: 5px;
}

/* main */

/* main {
  background: url(../../static/img/bg.png) repeat;
  padding-left: 190px;
} */

main {
  background: url(../../static/img/bg.png) repeat;
  padding-left: 190px;
}

dl {
  margin-top: 0.5rem;
}

dd {
  display: inline-block;
  font-weight: 500;
  margin-left: 0;
}

dt {
  display: inline-block;
  margin-left: 0.5rem;
}

ul.side-nav {
  width: 190px;
}

ul.side-nav li {
  padding: 0;
}

/* ul.side-nav.fixed a {
  box-sizing: content-box;
  color: rgb(48, 122, 207);
  display: block;
  line-height: 100%;
  padding: 10px 0 12px;
} */

ul.side-nav.fixed a {
  box-sizing: content-box;
  color: rgb(16, 202, 56);
  display: block;
  line-height: 100%;
  padding: 10px 0 12px;
}

ul.table-of-contents li.logo a.active, ul.table-of-contents li.logo a:hover {
  border: none;
  font-weight: 200;
}

/* ul.side-nav.fixed li.logo {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  min-height: 90px;
  padding: 30px 30px 40px;
} */

ul.side-nav.fixed li.logo {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  min-height: 90px;
  padding: 30px 30px 40px;
}

ul.side-nav.fixed li.logo a {
  font-weight: 200;
  line-height: 100%;
}

ul.table-of-contents li:not(.logo) a.active, ul.table-of-contents li:not(.logo) a:hover {
  background-color: #fafafa;
  border-left: 3px solid;
}

ul.side-nav.fixed.table-of-contents li:not(.logo) a span, ul#slide-out li:not(.logo) a span {
  color: #333 !important;
}

li.logo span {
  display: block;
  font-size: 14px;
}

.brand-logo h1 {
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  font-weight: inherit;
}
.image-container {
  width: 100%; /* or a specific width like 300px */
  height: 170px; /* or any height you need */
  overflow: hidden; /* Hide any overflow */
  position: relative;
}

.responsive-image {
  width: 100%; /* Make the image width 100% of the container */
  height: 100%; /* Make the image height 100% of the container */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  object-position: center; /* Center the image within the container */
}
.container {
  width: 95%;
}

h3 {
  font-weight: 200;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 30px 40px;
  text-transform: uppercase;
}

.section {
  padding-bottom: 30px;
  padding-top: 0;
  position: relative;
}

.full-height {
  height: 100vh;
}

/* Original */

/* #intro.section {
  background: url(../../assets/img/white-ai-wallpaper.jpg) no-repeat top center/cover;
  position: relative;
} */

/* #intro.section {
  background: #a7ffeb repeat;
  position: relative;
} */

#intro.section {
  background: #81c4d3 repeat;
  position: relative;
}

.intro-color {
  background-color: #5d939e;
}


.intro-color-text {
  color: #5d939e;
}

#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  top: 0;
}

/* #intro.section .container *:not(span) {
  font-weight: 300;
  line-height: 150%;
  padding: 0 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
} */

#intro.section .container *:not(span) {
  font-weight: 300;
  /* font-weight: 400; */
  line-height: 150%;
  /* padding: 0 0px; */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#intro.section .underline {
  border-bottom: 5px solid #24305e;
}

#intro.section .teal {
  padding: 0 10px;
}

#intro.section .blue {
  padding: 0 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color
   of the button to still show through. */
  background-color: rgba(33, 150, 243, 0.2);
}

.card {
  margin-bottom: 60px;
}

.card .role {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  right: 62px;
  top: 35px;
}

.card li a {
  margin-right: 0;
  color: #333;
  border-bottom: 2px solid #ffab40;
}

.card li a:hover {
  color: #333;
  font-weight: 500;
}

.card .card-content {
  padding-bottom: 30px;
}

.card .card-content p {
  padding: 5px 0 0;
}

.card h5 {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  margin-top: 2rem;
}

.card h6 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2rem;
  text-transform: uppercase;
}

.card-reveal h6 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  text-transform: uppercase;
}

ul.no-indent {
  margin-left: -10px;
}

#experience .card-action {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
}

#education .card-action {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
}

#experience .card .col.s12.m2 a {
  display: block;
}

#experience .card .col.s12.m2 a img {
  max-height: 60px;
}

.card-action span {
  font-size: 85%;
  color: #666;
}

.card ul {
  margin-bottom: 0;
}

.card ul li {
  line-height: 200%;
  list-style-type: disc;
  margin-left: 24px;
}

.card ul li li {
  color: #545454;
  font-size: 15px;
  margin-bottom: 10px;
}

.card .card-title {
  font-size: 24px;
}

.card .card-content .card-title {
  line-height: 2.5rem;
}

.card i.right {
  margin-left: 10px;
}

a.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

p.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

a.hoversize {
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

#skills .row .col {
  margin-bottom: 30px;
  margin-top: 5px;
}

/* main a.hoverline */

/* a.hoverline:hover {
  border-bottom: 3px solid #24305e !important;
} */

a.hoverline:hover {
  font-size: 103%;
  border-bottom: 3px solid #004d40 !important;
}

p.hoverline:hover {
  font-size: 103%;
  border-bottom: 3px solid #004d40 !important;
  cursor: pointer
}

p.hoverpointer:hover {
  cursor: pointer;
}

a.hoversize:hover {
  font-size: 103%;
}

#skills .card.large {
  height: 360px;
}

#skills h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#skills .col img.responsive-img {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.card.large .card-content p {
  color: inherit;
  margin: 0;
  padding: 30px 0;
}

#education .card-content .row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#experience .card-content .row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.card.large .card-image {
  height: 230px;
}

.card.large .card-content {
  height: auto;
}

.card.medium .card-image {
  height: 200px;
}

#projects .card-reveal span {
  font-size: 98%;
}

@media (max-width: 1250px) {
  #projects .card-reveal span {
    font-size: 84%;
  }
}

@media (max-width: 1092px) {
  #projects .card-reveal span {
    font-size: 74%;
  }
}
@media (max-width: 992px) {
  #projects .card-reveal span {
    font-size: 98%;
  }
}

.card-action a.btn-floating {
  margin-bottom: 0;
}

#contact a:not(.btn-floating) {
  bottom: 6px;
  left: 20px;
  position: relative;
}

#experience .col.s12.m2 {
  text-align: center;
}

.fa-external-link:before {
  left: 3px;
  position: relative;
  top: 2px;
}

small:not(.show) {
  display: none;
}

.grey-text {
  color: #666 !important;
}

/* main .teal-text */

.teal-text {
  color: #008073 !important;
}

.blue-text {
  color: #2a515a !important;
}

/* .teal-text {
  color: #0b5e86 !important;
} */

/* .teal */

.teal {
  background-color: #008073 !important;
}

.blue {
  background-color: #2a515a !important;
}

.rounded {
  display: inline-block;
  border-radius: 5px;
}

/* .teal {
  background-color: #00695c !important;/
} */

/* @media (min-width: 1200px) {
  #experience .container {
    width: 860px;
  }
} */

@media (max-width: 1360px) {
  .card ul li {
    font-size: 14px;
    line-height: 200%;
    margin-left: 20px;
  }
  .card ul li li {
    font-size: 14px;
    line-height: 200%;
    margin-left: 20px;
  }
}

@media (max-width: 1160px) {
  .card ul li {
    line-height: 150%;
  }
}

@media (max-width: 992px) {
  main {
    padding-left: 0px;
    padding-top: 64px;
  }
  ul.side-nav a {
    line-height: 100%;
    padding: 0;
    width: 100%;
  }
  nav {
    background: #fff;
    height: 64px;
    position: absolute;
  }
  nav a.button-collapse, nav a.button-collapse i {
    color: #009688;
    height: 56px;
    line-height: 56px;
  }
  h3 {
    padding: 20px 30px;
    margin-bottom: 40px;
  }
  .container {
    margin: 0 auto;
  }
  nav.hide-on-large.only.trigger {
    display: block;
    position: fixed;
    top: 0;
    z-index: 5;
  }
  .name-title {
    display: block;
    height: 100%;
    padding-top: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
  }
  .name-title>span, .name-title>a {
    position: relative;
    line-height: 20px;
  }
  .name-title a {
    font-size: 22px;
    display: block;
  }
  .name-title span {
    display: block;
    font-size: 14px;
  }
  h3, .container {
    position: relative;
    top: 64px;
  }
  section#intro {
    margin-bottom: -64px;
  }
  /* .card .role {
    position: relative;
    right: initial;
    top: initial;
    font-size: 1.25rem;
  } */
}

@media (max-width: 600px) {
  h2 {
    font-size: 28px;
    line-height: 200%;
    margin: 30px 0 0;
  }
  #intro.section .container *:not(span):not(.readme):not(.contactme) {
    padding: 0;
  }
  .readme {
    padding: 7px 16px;

  }
  .contactme {
    padding: 7px 16px;

  }
  .card .card-content .card-title {
    font-size: 20px;
    line-height: 24px;
  }
  
  #contact a:not(.btn-floating) {
    text-align: center;
    display: block;
    left: initial;
    bottom: initial;
    width: fit-content;
    margin: 0 auto; /* Center the element horizontally */
    margin-bottom: 30px;
  }
  #contact a.btn-floating.btn-large {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  #intro.section {
    background-position-x: 30%;
  }
  .container .flow-text {
    font-size:95%;
    font-weight:300;
  }
  blockquote * {
    font-size: 100%;
  }
}

.logo-img {
  position: absolute;
  width: 250px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.card .logo-img {
  position: absolute;
  right: 62px;
  top: 5px;
}

.eccc-img {
  position: absolute;
  width: 25%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.card .eccc-img {
  position: absolute;
  right: 42px;
  top: 25px;
}

.custom-col {
  width:50%;
  height:auto;
}

@media screen and (max-width: 992px) {

  .custom-col {
    width: 60%;
    height:auto;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .card .role {
    font-size: 1.25rem;
  }
}

/* Default - no line break */
.break-on-smaller {
  display: none;
}

.break-on-medium {
  display: none;
}

.hide-on-medium {
  display: inline;
 }

#eccc-title {
  margin-bottom: 45px;
}

@media (max-width: 1260px) {
  .break-on-medium {
      display: inline;
  }
  #eccc-title {
    margin-bottom: 0;
  }
  .card .eccc-img {
    width: 40%;
    height: auto;
  }
  .hide-on-medium {
    display: none;
   }
}

/* On small screens, show the <br> element */
@media (max-width: 850px) {
  .break-on-smaller {
      display: inline;
  }
  .card .role {
    text-align: center;
    top: 25px;
  }
}

@media screen and (max-width: 700px) {
  .custom-col {
    width: 100%;
    height:auto;
  }
  .card .role {
    position: relative;
    right: initial;
    top: initial;
    font-size: 1.25rem;
    text-align: start;
  }
  .break-on-smaller {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .card .logo-img {
    position: absolute; /* Change to absolute positioning */
    top: 10px; /* Adjust the top position as needed */
    right: 45px; /* Adjust the right position as needed */
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }
}

@media screen and (max-width: 700px) {
  .card .logo-img {
    position: absolute; /* Change to absolute positioning */
    top: 15px; /* Adjust the top position as needed */
    right: 45px; /* Adjust the right position as needed */
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }
}

/* .card.medium .card-content {
  height: fit-content;
} */

.card.medium span.proj {
  margin-top:20px;
}

@media screen and (max-width: 1100px) {
  .card.medium span.proj {
    margin-top:10px;
  }
}

#projects .card.medium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.medium .card-reveal ul li {
  font-size: 80%;
}

#projects .card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

#projects .card-content p {
  margin-top: auto; /* Push the paragraph to the bottom */
  margin-bottom: 0; /* Ensure there's no extra space below the paragraph */
}

@media screen and (max-width: 992px) {
  .card.medium span.proj {
    margin-top:0px;
  }
}

@media screen and (max-width: 600px) {
  .card.medium span.proj {
    margin-top:35px;
  }
}

@media screen and (max-width: 600px) {
  .card .logo-img {
    position: absolute; /* Change to absolute positioning */
    right: 30px; /* Adjust the right position as needed */
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }
}
#coursework {
  display: grid; grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 756px) {
  .card .logo-img {
    position: relative; /* Change to absolute positioning */
    top:15px;
    left: 0px; /* Adjust the right position as needed */
    width: 180px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: -38px;
  }
  #coursework > * {
    position: relative;
  }
  
  #coursework > *::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the border as needed */
    background-color: #000000; /* Adjust the color of the border as needed */
    opacity: 10%;
  }
  
  
  #coursework > *:last-child::before,
  #coursework > *:nth-last-child(2)::before {
    display: none; /* Hide the border for the last row items */
  }
  #coursework li {
    margin-bottom: 5px;
  }
}

#eccc-link2 {
  display: none;
}

@media screen and (max-width: 992px) {
  .card .eccc-img {
    width: 35%;
    height: auto;
  }
}

@media screen and (max-width: 756px) {
  #eccc-link1 {
    display: none;
  }
  #eccc-link2 {
    display: block;
  }
  .card .eccc-img {
    position: relative; /* Change to absolute positioning */
    top:30px;
    left: 0px; /* Adjust the right position as needed */
    width: 80%;
    height: auto;
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 600px) {
  .card .eccc-img {
    width: 100%;
  }
}

/* Default - no line break */
.break-on-small {
  display: none;
}
.hide-on-small {
 display: inline;
}

/* On small screens, show the <br> element */
@media (max-width: 1165px) {
  .break-on-small {
      display: inline;
  }
  .hide-on-small {
    display: none;
   }
  
}


.sticky-header {
  position: sticky;
  top: -20px;
  margin-top: -20px;
  background-color: white;
  z-index: 10;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

#projects .card {
  position: relative;
}

#projects .icon-container {
  position: absolute;
  top: 15px; /* Adjust as needed */
  right: 15px; /* Adjust as needed */
  z-index: 2; /* Ensure it is on top of other elements */
}

#projects .icon-container:hover {
  cursor: pointer;
}

#projects .mdi-button-pointer {
  font-size: 35px; /* Adjust as needed */
  color: rgb(0, 0, 0); /* Adjust as needed */
}

@media (max-width: 1250px) {
  #projects .mdi-button-pointer {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  #projects .mdi-button-pointer {
    font-size: 35px;
  }
}

@media (max-width: 756px) {
  #projects .mdi-button-pointer {
    font-size: 30px;
  }
}
@media (max-width: 602px) {
  #projects .mdi-button-pointer {
    font-size: 35px;
  }
} 

.mdi-navigation-close.disabled-close {
  opacity: 30%;
}

#projects .card-reveal span.card-title :not(i) {
  pointer-events: none;
}

#projects .card-reveal .card-title:hover {
  cursor: default;
}

.mdi-navigation-close:hover {
  cursor: pointer;
}

.disabled-close:hover {
  cursor: not-allowed;
}

/* .mdi-button-pointer {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 20.5c0 .8-.7 1.5-1.5 1.5H13c-.4 0-.7-.1-1-.4l-4-4.2l.7-.8c.2-.2.5-.3.8-.3h.2L12 18V9c0-.6.4-1 1-1s1 .4 1 1v4.5l1.2.1l3.9 2.2c.5.2.9.8.9 1.3zM20 2H4c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h4v-2H4V4h16v8h-2v2h2c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
} */


.mdi-button-pointer {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg fill='%23000000' height='180px' width='180px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 475.825 475.825' xml:space='preserve' stroke='%23000000' stroke-width='1.9033000000000002'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpath d='M380.207,218.925l-3.4-44c-0.3-17.9-14.9-32.4-32.9-32.4c-5.5,0-10.8,1.4-15.3,3.8c-5.6-8.7-15.1-14.3-26.5-14.3 c-5.2,0-10.1,1.2-14.5,3.3c-6-8.3-15.7-13.8-26.8-13.8c-2.8,0-5.5,0.4-8.1,1.2v-45c0-20.1-13.8-35.2-32.2-35.2 c-22,0-33.5,17.5-33.7,34.8l-7,125.3c-1.5,28.6-4.4,40-6.2,44.3c-1.6-1.2-4.1-3.2-7.9-7c-17.7-17.7-35.9-27-50.1-25.6 c-7.4,0.7-13.6,4.3-17.5,10.2c-14.3,21.5-1.7,37.1,13,55.2c4.2,5.2,8.9,11,14,17.9c4.3,5.8,8.3,11.5,12.2,17 c15.4,21.8,29,40.9,47.9,55.1c0.1,15.6,0.1,26.3,0,37.4c0,5.7,0,11.6,0,18.3c0,5.6,1.9,14.1,10.9,23.1 c16.7,16.6,50.1,27.3,85.2,27.3c0.3,0,0.7,0,1,0c23.8-0.1,46.5-4.9,64-13.5c19.6-9.6,30.4-22.7,30.3-36.9c0-1.8,0-73.4,0-79.7 c2.4-8.7,6.8-33.5,7-48.1v-3.1C384.407,251.625,384.307,250.925,380.207,218.925z M352.607,425.525c0.1,2.9-4.4,9.2-16.8,15.3 c-14.3,7-33.3,10.9-53.6,11c-33.4,0.2-59.2-10.4-69.2-20.3c-2.8-2.8-3.8-5-3.8-6.1c0-6.7,0-12.5,0-18.2c0-9.6,0-18.9,0-31.4 c22.5,12.1,45.5,17.3,75.4,17.3h0.1c28.7,0,50.8-5.9,67.9-18.3C352.607,397.225,352.607,424.425,352.607,425.525z M359.807,294.225v3.1c-0.1,8.4-0.9,16.9-2.3,25.2c-0.3,1.7-4.7,22.8-4.5,22.8h-0.3c0,0,0,3.2,0,8.3 c-15.2,16.2-36.6,23.5-67.9,23.5c-0.1,0-0.1,0-0.1,0c-31.4,0-53.6-5.9-76.8-20.7c-0.6-0.6-1.2-1.1-1.9-1.5 c-19.1-12-33-31.6-49-54.2c-4-5.6-8.1-11.4-12.5-17.4c-5.4-7.4-10.3-13.4-14.7-18.8c-15.4-19-15.5-20.9-11.9-26.4 c3.1-0.6,14.8,2.6,30.9,18.7c6.8,6.8,19.5,19.5,33.5,14.1c13.6-5.2,19.2-22.8,21.6-67.1l7-125.6c0-0.2,0-0.4,0-0.7 c0-3.4,0.9-11.2,9.7-11.2c8.1,0,8.7,11.4,8.7,11.9l0.5,138c0,6.6,3.5,12.8,10.1,12.8c6.6,0,12-5.4,12-12c0-22.2,0-42.6,0-64.8 c0.1-3.8,4.1-6.9,8.9-6.9c5,0,8.9,1.9,8.9,6.9v12v36v20c0,6.6,4.7,12.3,11.4,12.3c6.7,0,12-5.4,12-12l0.6-59.1 c1.3-3.3,4.5-5.6,8.3-5.6c5,0,8.9,3.9,8.9,8.9v52.3v10.5c0,6.6,5.4,12,12,12c6.6,0,10.8-4.6,10.8-11.3v-12v-41c0-5,5.1-9,10.1-9 s8.9,3.9,8.9,8.9c0,0.3,0,0.6,0,0.9c1.8,22.8,3.5,45.5,5.3,68.3C359.307,261.225,360.007,277.525,359.807,294.225z'/%3E%3Cpath d='M163.407,48.425h-35.9c-4.4,0-8,3.6-8,8s3.6,8,8,8h35.9c4.4,0,8-3.6,8-8S167.807,48.425,163.407,48.425z'/%3E%3Cpath d='M179.707,72.125c-3.1-3.2-8.1-3.2-11.3 0l-31.4 31.3c-3.1 3.1-3.1 8.2 0 11.3 1.6 1.6 3.6 2.3 5.7 2.3 2 0 4.1-0.8 5.7-2.3l31.3-31.3C182.807,80.325,182.807,75.225,179.707,72.125z'/%3E%3Cpath d='M179.707,30.225l-28-27.9c-3.1-3.1-8.2-3.1-11.3 0-3.1 3.1-3.1 8.2 0 11.3l27.9 27.9c1.6 1.6 3.6 2.3 5.7 2.3 2 0 4.1-0.8 5.7-2.3C182.807,38.425,182.807,33.325,179.707,30.225z'/%3E%3Cpath d='M311.007,48.425h-35.9c-4.4 0-8 3.6-8 8s3.6 8 8 8h35.9c4.4 0 8-3.6 8-8S315.407,48.425,311.007,48.425z'/%3E%3Cpath d='M301.707,2.325c-3.1-3.1-8.2-3.1-11.3 0l-31.4 31.4c-3.1 3.1-3.1 8.2 0 11.3 1.5 1.6 3.6 2.3 5.6 2.3s4.1-0.8 5.7-2.3l31.4-31.4C304.807,10.525,304.807,5.425,301.707,2.325z'/%3E%3Cpath d='M298.307,103.525l-27.9-27.9c-3.1-3.1-8.2-3.1-11.3 0-3.1 3.1-3.1 8.2 0 11.3l27.8 27.9c1.6 1.6 3.6 2.3 5.7 2.3 2 0 4.1-0.8 5.7-2.3C301.407,111.725,301.407,106.625,298.307,103.525z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M163.407,48.425h-35.9c-4.4 0-8 3.6-8 8s3.6 8 8 8h35.9c4.4 0 8-3.6 8-8S167.807,48.425,163.407,48.425z'/%3E%3Cpath d='M179.707,72.125c-3.1-3.2-8.1-3.2-11.3 0l-31.4 31.3c-3.1 3.1-3.1 8.2 0 11.3 1.6 1.6 3.6 2.3 5.7 2.3 2 0 4.1-0.8 5.7-2.3l31.3-31.3C182.807,80.325,182.807,75.225,179.707,72.125z'/%3E%3Cpath d='M179.707,30.225l-28-27.9c-3.1-3.1-8.2-3.1-11.3 0-3.1 3.1-3.1 8.2 0 11.3l27.9 27.9c1.6 1.6 3.6 2.3 5.7 2.3 2 0 4.1-0.8 5.7-2.3C182.807,38.425,182.807,33.325,179.707,30.225z'/%3E%3Cpath d='M311.007,48.425h-35.9c-4.4 0-8 3.6-8 8s3.6 8 8 8h35.9c4.4 0 8-3.6 8-8S315.407,48.425,311.007,48.425z'/%3E%3Cpath d='M301.707,2.325c-3.1-3.1-8.2-3.1-11.3 0l-31.4 31.4c-3.1 3.1-3.1 8.2 0 11.3 1.5 1.6 3.6 2.3 5.6 2.3s4.1-0.8 5.7-2.3l31.4-31.4C304.807,10.525,304.807,5.425,301.707,2.325z'/%3E%3Cpath d='M298.307,103.525l-27.9-27.9c-3.1-3.1-8.2-3.1-11.3 0-3.1 3.1-3.1 8.2 0 11.3l27.8 27.9c1.6 1.6 3.6 2.3 5.7 2.3 2 0 4.1-0.8 5.7-2.3C301.407,111.725,301.407,106.625,298.307,103.525z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.card-reveal .card-title {
  padding-left: 0;
}

.back-to-top-container {
  text-align: center;
  margin-top: 20px; /* Adjust as needed for spacing */
}

@media (max-width: 992px) {
  .back-to-top-container {
    margin-top: 60px; /* Adjust as needed for spacing */
  }
}

.back-to-top {
  text-decoration: none;
  color: #000; /* Adjust as needed */
}

#skills .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#skills .flex-container .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#skills .flex-container img {
  margin-bottom: 5px;
}

.italics {
  font-style: italic;
}